@import url('https://fonts.loli.net/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.loli.net/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.6.0/lxgwwenkai-bold.css');


::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

//鼠标移动上面放大效果
.zoom:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  display: inline-block;
}

body {
  padding: 0;
}

//页面
.main-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #27262b;
  font-family: 'Source Code Pro', 'LXGW WenKai', sans-serif, 'ZCOOL KuaiLe';
  color: #d8d7d4;
  overflow: auto;
}

//左侧面板
.left {
  min-width: 18rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  border-right: 1px dotted #44434d;
  overflow: auto;
}

.left.visible {
  display: none;
}

@media (max-width: 950px) {
  .left {
    display: none;
  }

  .left.visible {
    display: flex;
  }
}

//左侧面板头部
.left-header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #44434d;
}

.left-header > div {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center
}

//左侧面板头部图片
.left-header img {
  height: 2rem;
  background: none;
}

//左侧面板头部文字
.left-header a {
  font-size: 1.2rem;
  color: white;
  flex: 1;
  text-align: center;
  line-height: 3rem;
}

//左侧内容
.left-content {
  width: 100%;
  padding-top: 1rem;
  overflow: auto;
}

//左侧底部
.left-bottom {
  padding: 1rem 0;
  font-size: 0.8rem;
  border-top: 1px solid #44434d;
  text-align: center;
}

//访问量
.views-counts {
  font-weight: lighter;
  text-decoration: underline;
  display: inline-block;
  margin: 0 0.3rem;
}


.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 36rem);
}

.middle-scroll {
  height: calc(100% - 3rem);
  overflow: auto;
}

.middle-header {
  height: 3rem;
  display: flex;
  border-bottom: 1px solid #44434d;
  border-right: 1px solid #44434d;
}

.middle-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.middle-page {
  text-align: right;
  padding-right: 3rem;
  font-size: 0.8rem;
  font-weight: lighter;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.update-time {
  position: relative;
  display: none;
}

.update-time-record {
  display: flex;
}


.middle-bread {
  padding-left: 1rem;
}

.middle-context {
  padding: 1rem 2rem;
  flex: 1;
  counter-reset: section;

  img {
    max-width: 60%;
    max-height: 50vh;
    clear: both;
    display: block;
    color: #5ca2c4;
  }

  ul {
    list-style-type: none;

    > li {
      color: #d8d7d4;

      &::before {
        position: relative;
        margin-left: -1.4rem;
        //vertical-align: middle;
        line-height: 1.5rem;
        margin-right: 0.2rem;
        content: "→";
        color: #1296db;
      }
    }
  }

  /* 标题样式 */
  h1 {
    counter-increment: section;
    counter-reset: subsection;
  }

  h2 {
    counter-reset: subsubsection;
    counter-increment: subsection;
  }

  h3 {
    counter-increment: subsubsection;
    counter-reset: subparagraph;
  }

  h4 {
    counter-increment: subparagraph;
    counter-reset: subsubparagraph;
  }

  h5 {
    counter-increment: subsubparagraph;
    counter-reset: subsubsubparagraph;
  }

  h6 {
    counter-increment: subsubsubparagraph;
  }

  /* 标题编号样式 */
  h1:before {
    content: counter(section) " ";
    font-size: 1.4rem;
    font-weight: normal;
    font-family: 'LXGW WenKai', sans-serif;
  }

  h2:before {
    content: counter(section) "." counter(subsection) " ";
    font-size: 1rem;
    font-weight: normal;
    font-family: 'LXGW WenKai', sans-serif;
  }

  h3:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
    font-size: 0.8rem;
    font-weight: normal;
    font-family: 'LXGW WenKai', sans-serif;
  }

  h4:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(subparagraph) " ";
    font-size: 0.5rem;
    font-weight: lighter;
    font-family: 'LXGW WenKai', sans-serif;
  }

  h5:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(subparagraph) "." counter(subsubparagraph) " ";
    font-family: 'LXGW WenKai', sans-serif;
  }

  h6:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(subparagraph) "." counter(subsubparagraph) "." counter(subsubsubparagraph) " ";
    font-family: 'LXGW WenKai', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-family: 'Source Code Pro', 'ZCOOL KuaiLe', 'LXGW WenKai', sans-serif;
    color: #91c2e7;
    font-style: italic;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #27262b, #27262b), linear-gradient(135deg, #dbc3a2, #1e2122);
    border-bottom: 1px transparent solid;

    &:first-child {
      margin-top: 1em;
    }

    + table,
    + .table-wrapper,
    + .code-example {
      margin-top: 1em;
    }

    + p {
      margin-top: 0;
    }
  }

  li {
    line-height: 1.6;
    margin: 0;
  }

  ul {
    margin-top: 0;
  }

  p {
    line-height: 1.2;
  }
}


//右侧toc
.right {
  max-width: 20rem;
  min-width: 15rem;
  overflow: auto;
  border-left: 1px dotted #44434d;
  display: flex;
  flex-direction: column;
}

.right-head {
  padding: 1rem 0;
  text-align: center;
  height: 5rem;
}

.right-bottom {
  border-top: 1px dotted #44434d;
  padding: 1rem 0;
}

.right .js-toc {
  flex: 1;
}

.right.visible {
  display: none;
}

@media (max-width: 750px) {
  .right {
    display: none;
  }

  .right.visible {
    display: flex;
  }
}

.toc-link::before {
  content: none !important;
}

.is-active-link {
  color: #2b7df3 !important;
  text-decoration: underline;
  font-weight: normal;
  transform: scale(1.05, 1.05);
}


.nav-list .nav-list-item .nav-list-link {
  padding: 4px 1rem;
}

.breadcrumb-nav {
  margin-top: 0;
  margin-left: 1rem;
}

code {
  font-size: 0.95rem;
  line-height: 1.2;
  font-family: "Source Code Pro", "ZCOOL KuaiLe", "LXGW WenKai", sans-serif;
}


:not(pre,figure) > code {
  /* styles go here */
  color: #449cc7;
  padding: 0;
  margin: 0 0.1rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 450;
  border: none;
  height: 1rem;
  line-height: 1rem;
}

//Viewerjs图片预览图片背景
.viewer-container img {
  background: url(/assets/images/checker.png) repeat;
}

p.note-title > p:first-child, blockquote.note-title > p:first-child,
p.warning-title > p:first-child, blockquote.warning-title > p:first-child,
p.important-title > p:first-child, blockquote.important-title > p:first-child,
p.new-title > p:first-child, blockquote.new-title > p:first-child {
  font-size: 1rem;
  text-transform: none;
  padding-bottom: 0.5rem;
}

.main-content {
  line-height: 1;
}

.main-content ol > li::before {
  color: #1296db;
  content: counter(step-counter) ". ";
}

.nav-list-expander {
  cursor: pointer;
}


//代码高亮
.highlight {
  .cm, .c1 {
    color: #77AD5E;
    font-weight: lighter;
  }

  .c {
    color: #839a62;
  }

  .err {
    color: #ff0000;
    background-color: transparent;
  }

  .nt, .nc {
    color: #60a4d8;
  }

  .no {
    color: #aaaaaa;
  }
}

iframe {
  background-color: white;
  width: 100%;
  border: 0
}

/*
修复评论字体看不见
*/
.gt-container .gt-header-textarea {
  color: black;
}
