<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.luguosong.many_to_one.association.mapper.EmployeesMapper">

    <resultMap id="employeesResultMap" type="com.luguosong.many_to_one.pojo.Employees">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="position" column="position"/>
        <result property="hireDate" column="hire_date"/>

        <association property="departments" javaType="com.luguosong.many_to_one.pojo.Departments">
            <id property="id" column="dept_id"/>
            <result property="departmentName" column="department_name"/>
        </association>
    </resultMap>

    <select id="getEmployeesById" resultMap="employeesResultMap">
        SELECT e.*,d.id dept_id,d.department_name
        FROM employees e
                 LEFT JOIN departments d ON e.department_id = d.id
        WHERE e.id = #{id}
    </select>
</mapper>
