<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置组件扫描-->
    <context:component-scan base-package="com.luguosong.controller,com.luguosong.interceptors"/>

    <!--配置视图解析器-->
    <bean id="thymeleafViewResolver" class="org.thymeleaf.spring6.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="UTF-8"/>
        <property name="order" value="1"/>
        <property name="templateEngine">
            <bean class="org.thymeleaf.spring6.SpringTemplateEngine">
                <property name="templateResolver">
                    <bean class="org.thymeleaf.spring6.templateresolver.SpringResourceTemplateResolver">
                        <property name="prefix" value="/WEB-INF/templates/"/>
                        <property name="suffix" value=".html"/>
                        <property name="templateMode" value="HTML"/>
                        <property name="characterEncoding" value="UTF-8"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--方式一-->
        <!--<bean class="com.luguosong.interceptors.Interceptor1"/>-->

        <!--方式二：在Interceptor1上添加@Component注解,使用ref进行引用-->
        <!--<ref bean="interceptor1"/>-->

        <!--方式三：指定拦截路径-->
        <mvc:interceptor>
            <!--表示拦截所有请求-->
            <mvc:mapping path="/**"/>
            <!--排除指定请求-->
            <mvc:exclude-mapping path="/hello-interceptor2"/>
            <!--指定拦截器-->
            <ref bean="interceptor1"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--表示拦截所有请求-->
            <mvc:mapping path="/**"/>
            <!--排除指定请求-->
            <mvc:exclude-mapping path="/hello-interceptor2"/>
            <!--指定拦截器-->
            <ref bean="interceptor2"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>
