<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace属性指向mapper接口-->
<mapper namespace="com.luguosong.pagination_plugin.mapper.EmployeesMapper">
    <select id="getAll" resultType="com.luguosong.hello.pojo.Employees">
        select * from employees
    </select>
</mapper>
