/* ==================== 通用零散样式 ==================== */

.md-grid {
    /*内容区域始终延展以适应可用屏幕空间*/
    max-width: initial;
}

/*图片设置白色背景*/
.md-typeset figure img {
    background-color: RGB(255, 255, 255);
    cursor: zoom-in;
    max-width: 80%;
}

/*段落首行缩进*/
article > p, .admonition > p:not(.admonition-title) {
    text-indent: 2em;
}
