body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: #fff;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app {
    height: 45px;
}

.app ul li {
    height: 45px;
    background-color: #333;
    float: left;
    text-align: center;
    line-height: 45px;
    color: white;
}

.app li:nth-child(1) {
    width: 8%;
    text-align: center;
    line-height: 45px;
}

.app li:nth-child(1) img {
    width: 10px;

}

.app li:nth-child(2) {
    width: 10%;
    text-align: center;
    line-height: 45px;
}

.app li:nth-child(2) img {
    width: 30px;
    /*图片中线对其*/
    vertical-align: middle;
}

.app li:nth-child(3) {
    width: 57%;
}

.app li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}

.search-wrap {
    height: 44px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    min-width: 320px;
    max-width: 640px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url("../images/s-btn.png") no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;
}

.search {
    position: relative;
    height: 30px;
    margin: 7px 50px 0;
    background-color: #fff;
    border-radius: 15px;
}

.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url("../images/jd.png") no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    right: -8px;
}

.sou {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 50px;
    background: url("../images/jd-sprites.png") no-repeat -81px 0;
    background-size: 200px;
}

.slider img {
    width: 100%;
}

.brand {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.brand div {
    width: 33.33%;
    float: left;
}

.brand div img {
    width: 100%;
}

a{
    color: #666;
    text-decoration: none;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a img {
    width: 40px;
    margin: 10px 0;
}

nav a span {
    display: block;
}
